.resetPassword {
    margin-top: 2rem;

    :global .chakra-card {
        padding: 1rem 2rem;
    }

    :global .chakra-form-control {
        &:not(:first-child) {
            margin-top: 0.5rem;
        }
    }

    .switchPage {
        margin-top: 2rem;
    }
}