.timerWidget {
  display: flex;
  align-items: center;
  justify-self: center;
  margin: 1rem 0;

  h3 {
    font-size: 10rem;

    @media (max-width: 768px) {
      font-size: 4rem;
    }
  }

  span {
    font-size: 8rem;
    padding: 0 0.2rem;

    @media (max-width: 768px) {
      font-size: 2rem;
    }
  }
}